@font-face {
  font-family: "Gilroy";
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  background-color: #fff;
}
